:root {
    --color-background: #1B2838; 
    --color-panel-background-a: #0a0f15aa;
    --color-panel-background-b: #0A0F1544;
    --color-header: #0A1926;
    --color-secondary: #0A1C40;
    --color-chip: #3E556D;
    --color-text: #F2F2F2;
    --color-input-background: #34404F;
    --color-input-background-b: #F2F2F222;
    --color-input-border: #1A9FFF;
    --color-button-background-a: #1A73E8;
    --color-button-background-b: #1558b0;
    --color-results-background-a: #3B4955;
    --color-results-background-b: #2A3641;
    --color-results-text: #66C0F4;
    --color-results-text-b: #89929B;

    --font: "Markazi Text", serif;

    --width-mobile: 480px;
}

html, body {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: var(--font);
  background: var(--color-background);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}